<div>
  <section class="vh-100">
    <div class="container login-container">
      <div class="row d-flex justify-content-center align-items-center login-content">
        <div class="col-md-7 col-lg-7 col-xl-7">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image"/>
        </div>
        <div class="col-md-5 col-lg-5 col-xl-5">

          <div class="alert alert-success" role="alert" *ngIf="isRegistration">
            {{ 'auth.registrationAlert' | translate}}
          </div>

          <form [formGroup]="loginForm" (submit)="login()">
            <div class="form-outline">
              <input type="email" id="email" name="email" class="form-control form-control-lg"
                     formControlName="username"
                     [(ngModel)]="username" placeholder="{{ 'auth.email' | translate}}"/>
              <div class="error-container">
                <div class="alert"
                     *ngIf="loginForm.invalid && isClickLogin">
                  <p *ngIf="loginForm.controls.username.errors?.['required']">
                    {{"auth.mailIsRequired" | translate}}
                  </p>
                  <p *ngIf="loginForm.controls.username.errors?.['minlength']">
                    {{"auth.incorrectEmail" | translate}}
                  </p>
                </div>
              </div>
            </div>

            <div class="form-outline">
              <input type="password" id="password" name="password" [(ngModel)]="password"
                     formControlName="password"
                     class="form-control form-control-lg"
                     placeholder="{{ 'auth.password' | translate}}"/>
              <div class="error-container">
                <div class="alert"
                     *ngIf="loginForm.invalid && isClickLogin">
                  <p *ngIf="loginForm.controls.password.errors?.['required']">
                    {{"auth.passwordIsRequired" | translate}}
                  </p>
                  <p *ngIf="loginForm.controls.password.errors?.['minlength']">
                    {{"auth.passwordMinLength" | translate}}
                  </p>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <div class="form-check mb-0">
                <!--                <input class="form-check-input me-2" type="checkbox" value="" id="remeberMe"-->
                <!--                       name="remeberMe"/>-->
                <!--                <label class="form-check-label"-->
                <!--                       htmlFor="remeberMe">{{"auth.rememberMe" | translate}}</label>-->
              </div>
              <!--              <a href="#!" class="text-body">{{"auth.forgotPassword" | translate}}</a>-->
            </div>

            <div class="text-center text-lg-start pt-2">
              <button type="submit" class="btn btn-primary btn-lg btn-block w-100">
                {{ 'auth.login' | translate}}
              </button>
              <p class="small fw-bold mt-2 pt-1 mb-0">{{"auth.donNotHaveAccount" | translate}}
                <a [routerLink]="['/register']"
                   class="link-danger">{{"auth.register" | translate}}</a>
              </p>
            </div>

          </form>
        </div>
      </div>
      <div
        class="d-flex flex-column text-center justify-content-between py-4 px-4 px-xl-5">
        <div class="mb-3 mb-md-0">
          Copyright © {{getYear()}}. All rights reserved.
        </div>

        <div>
          <a href="#!" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#!" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#!" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="#!" class="text-white">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
