<div class="container p-0">
  <div class="row mt-3">
    <div class="col-md-12">
      <h4>Patients</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="accordion" id="accordionFlush">
        <div *ngFor="let patient of patients; index as i" class="accordion-item">
          <h2 class="accordion-header" id="heading-{{i}}">
            <button class="accordion-button collapsed" type="button"
                    [attr.data-bs-target]="'#collapse-' + i"
                    [attr.aria-expanded]="false"
                    data-bs-toggle="collapse"
                    aria-controls="collapse">
              <span class="fw-bold">{{patient.code}} &nbsp;</span>
              <span class="badge bg-info">{{patient.surveys.length}}</span>
              <span> &nbsp; {{patient.name}} {{patient.surname}}</span>
            </button>
          </h2>
          <div id="collapse-{{i}}" class="accordion-collapse collapse"
               [attr.aria-labelledby]="'heading-' + i"
               data-bs-parent="#accordionFlush">
            <div class="accordion-body">
              <div class="list-group">
                <div *ngIf="patient.surveys.length == 0" class="alert alert-info mb-0" role="alert">Patient <span
                  class="fw-bold">{{patient.code}}</span>
                  does not have surveys.
                </div>
                <ng-container *ngIf="patient.surveys.length != 0">
                  <a *ngFor="let survey of patient.surveys" [routerLink]="['/', links.get(survey.surveyType), survey.id]"
                     class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{survey.surveyType}}</h5>
                      <small>{{survey.createDate | date}}</small>
                    </div>
<!--                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus-->
<!--                      varius blandit.</p>-->
<!--                    <small>Donec id elit non mi porta.</small>-->
                  </a>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
