<div class="clinic-container">
  <header class="p-3 border-bottom bg-primary">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/"
           class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <i class="bi-alarm"></i>
          <i class="bi-github" role="img" aria-label="GitHub"></i>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-hospital" viewBox="0 0 16 16">
            <path
              d="M8.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1h1ZM13.25 9a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Zm.25 1.75a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5Zm-11-4a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 3 9.75v-.5A.25.25 0 0 0 2.75 9h-.5Zm0 2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Z"/>
            <path
              d="M5 1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 1 1v4h3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3V3a1 1 0 0 1 1-1V1Zm2 14h2v-3H7v3Zm3 0h1V3H5v12h1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3Zm0-14H6v1h4V1Zm2 7v7h3V8h-3Zm-8 7V8H1v7h3Z"/>
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a routerLink="/profile/overview" class="nav-link px-2 link-light">Your profile</a>
          </li>
          <li>
            <a routerLink="/patients" class="nav-link px-2 link-light">Your patients</a>
          </li>
          <li>
            <a routerLink="/profile/research" class="nav-link px-2 link-light">Your researchers</a>
          </li>
        </ul>

        <div dropdown class="dropdown text-end">
          <a dropdownToggle class="d-block link-dark text-decoration-none dropdown-toggle"
             id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                 class="rounded-circle"/>
          </a>
          <ul *dropdownMenu class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li>
              <a routerLink="/profile/overview" class="dropdown-item">Your profile</a>
            </li>
            <li>
              <a routerLink="/profile/patients" class="dropdown-item">Your patients</a>
            </li>
            <li>
              <a routerLink="/profile/research" class="dropdown-item">Your researchers</a>
            </li>
            <li>
              <hr class="dropdown-divider"/>
            </li>
            <li>
              <a routerLink="/login" class="dropdown-item">Login</a>
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="container clinic-content">
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-dark text-center text-white mt-3">
    <div class="container p-3 pb-0">
      <section>
        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i
          class="fa fa-facebook"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i
          class="fa fa-twitter"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i
          class="fa fa-google"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i
          class="fa fa-instagram"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i
          class="fa fa-linkedin"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i
          class="fa fa-github"></i></a>
      </section>
    </div>

    <div class="text-center p-3 bg-dark">
      © {{getYear()}} Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>
</div>

